@import "styles.css";
@import "layout_primitives.css";


h1 {
  font-size: var(--s2);
}

h2 {
  font-size: var(--s1);
}

p {
  font-size: var(--s0);
}




/* HOME PAGE */
.home-page .taipy-image {
  position: absolute;
  top: 0;
  right: 20%;  /* Moves it 15% away from the right edge */
  margin: 1rem; /* spacing */
}



/* FOR ALL PAGES  */
/* ----------------NAVBAR colors.----------------------------- */
.MuiTabs-flexContainer button.Mui-selected {
  color: #51abcb; /* text color for active tab */
  /* background-color: white; background color for active tab */
  border-radius: 5px;
}
.MuiTabs-indicator {
  background-color: #51abcb;
}


/* --------------Dropdownbox colors---------------------------- */
/* Default border color */
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: 2px solid #51abcb;
  border-radius: 5px;
}
/* Border color when the Select is focused */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #51abcb;
}

/*----För statistk knappen---- */

.filled-button {
    background-color: White;
    color: black;
    border-color: #51abcb;
    border: 2px solid #51abcb;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease-in-out;

}

.filled-button:hover {
  border: 2px solid black;
}

